[submodule "X-CLI"]
	path = X-CLI
	url = https://github.com/dl-alexandre/X-CLI.git
[submodule "Skills"]
	path = Skills
	url = https://github.com/dl-alexandre/Skills.git
[submodule "UPS-CLI"]
	path = UPS-CLI
	url = https://github.com/dl-alexandre/UPS-CLI.git
[submodule "cli-installer-toolkit"]
	path = cli-installer-toolkit
	url = https://github.com/dl-alexandre/cli-installer-toolkit.git
[submodule "Advance-Commerce-CLI"]
	path = Advance-Commerce-CLI
	url = https://github.com/dl-alexandre/Advance-Commerce-CLI.git
